body{
    background-image: url(https://i.pinimg.com/originals/1f/67/1e/1f671e645bdab8dd7b5d52c2f83d7561.png);
    background-repeat: no-repeat;
    background-size: 310%;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;


}